[submodule "projects/calculator"]
	path = projects/calculator
	url = https://github.com/nickbackus/calculator.git

[submodule "projects/drum-pad"]
	path = projects/drum-pad
	url = https://github.com/nickbackus/drum-pad.git
[submodule "projects/D3ScatterPlot"]
	path = projects/D3ScatterPlot
	url = git@github.com:nickbackus/D3ScatterPlot.git
[submodule "projects/react-markdown-previewer"]
	path = projects/react-markdown-previewer
	url = https://github.com/nickbackus/react-markdown-previewer
